/* Tạo class */
/* Ở đây cha là header không phải class, topbar là class thì chấm . */
/* Giờ chị cho xem bố cục của header */
:root {

    --hong-tone: #CD1877;
    --hong-nhat: #f2dce9;
    --xam-nhat: #DFD9C3;
    --mau-den: #252525;
    --xam-chunho: #969595;
    --bo-vien: #DFD9C3;


}

html p {
    margin: 0;
}

header .row {
    align-items: center;
}

header .topbar {
    height: 30px;
    background-image: url('image/top-bar.png');
    background-repeat: no-repeat;
    /* này là không cho nó lặp lại */
    /* Giờ cho nó căn giữa */
    background-position: center;
    /* Tham khảo https://www.w3schools.com/css/css_background.asp */
}

header .header {
    /* height: 30px; */
    /* background-color: #12bd21; */
    /*      Trên phải dưới trái */
    /* padding: 20px 0 20px 0;  */
    /* Có thể viết tắt thế này, vì trên dưới bằng nhau */
    padding: 20px 0;
}

header .navbar {
    height: 50px;
    background-color: #DFD9C3;
}

header .itemCha {
    display: flex;
    justify-content: space-between;
    /* này là căn đều */
    /* Tham khảo https://viblo.asia/p/css-flexible-box-flexbox-day-du-nhat-Ljy5VDWoZra */
}

/* Do các item sử dụng class giống nhau, nên kế thừa */
header .itemCha .itemCon {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* gap: 5px; */
    /* này là khoảng cách giữa các ô */
    align-items: center;
    /* cho các item căn giữa */
}

/* Cho cái chiều cao cố định vào cái hình item, tại vì nhiều khi các hình không bằng nhau, nó lởm chởm thì xấu */
header .itemCha .itemCon .icon {
    height: 36px;
}

/* Do mình muốn chỉnh các thẻ p trong .itemCon */
header .itemCha .itemCon p {
    margin: 0;
}

header .itemCha .itemCon p.noiDungTren {
    font-size: 13px;
}

header .itemCha .itemCon p.noiDungDuoi {
    font-weight: 600;
}

header .datLich .btn-datLich {
    background-color: #CD1877;
    color: #fff;
    width: 100%;
    border-radius: 30px;
    /* bo tròn */
    /* https://www.w3schools.com/css/css_border_rounded.asp */
}

header .iconSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 1px solid #b3b3b3;
    /* viền */
    border-radius: 50%;
    /* bo tròn */
}

header .navbar .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    margin: 0;

}


header .navbar a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;

}

/* Small devices (landscape phones, 576px and up) */


.mainSlider,
.About,
.DichVu,
.nhanvien,
.sanpham,
.album,
.blog {
    overflow: hidden;
}


.mainSlider .container {
    background-size: contain;
    background-position: 0;
    width: 100%;

}

.mainSlider,
.DichVu-con,
.sanphamSlc,
.slickBlog,
.slickAlbum {
    position: relative;
    /* cha */
}

.mainSlider .arrowaSlider,
.DichVu .arrowDichVu,
.sanpham .arrowSanpham,
.blog .arrowBlog,
.album .arrowAlbum {
    position: absolute;
    /* kế thừa */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.mainSlider .arrow,
.DichVu .arrow,
.sanpham .arrow,
.blog .arrow,
.album .arrow {
    height: 50px;
    width: 50px;
    background-color: #00000096;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* này để cho chuột nó có hình bàn tay nhấn vào */
    border-radius: 50%;
}



.About {
    margin-top: 50px;
    color: var(--xam-chunho);
    text-align: center;


}

.About div.img {
    margin-top: 15px;
}

.About .About-cha {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-bottom: 50px;
}

.About .About-cha p {
    margin-bottom: 10px;
}

.About .About-cha .About-ND-tren {
    font-size: 30px;
    font-weight: 600;
    color: var(--hong-tone);
}



.About .About-con .itemcon .nd-tren {
    color: var(--mau-den);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;

}

.About .About-con .itemcon .image {
    display: flex;
    align-items: center;
    justify-content: center;

}


.DichVu {
    margin: 50px;
}

.DichVu .DichVu-cha {
    color: var(--xam-chunho);
    margin: 20px;



}


.DichVu .nd-tren {
    color: var(--hong-tone);
    font-weight: 600;
    font-size: 30px;

    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.DichVu .nd-mid {
    margin: 30px 0;

}

.DichVu .nd-duoi {
    margin-bottom: 12px;
}

/* .DichVu .nd-tren,
.DichVu .nd-mid,
.DichVu .nd-duoi{
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* Làm sao mấy cái này giống nhau có thể ghi như này được nè
thắc mắc gì nữa không? 

ủa tưởng set cho cái thằng dichvu ở tren dau thuoc tinh chung dc
chung cái g

dc
thử xem
*/
.DichVu-cha {
    /* display: flex; */
    /* cái flex này nó ép qua hết bên trái, nên không sử dụng được */
    /* align-items: center;
    justify-content: center; */
    text-align: center;
    margin: 12px 0;
    /* dùng cái này thì được */
    /* oke làm mò nãy h thôi về đi mai chỉ tiếp
    ok */
}

.DichVu-con {
    text-align: center;
    font-weight: 600;
    color: var(--mau-den);
}

.DichVu-con .image img {
    width: 100%;
}

.DichVu-con .nd-duoi {
    border: 1px solid var(--bo-vien);
    padding: 20px 0;

}

.nhanvien {
    margin: 10px 0px;
}

.nhanvien .container {
    display: flex;
    justify-content: space-between;

}

.nhanvien .nhanvien__dangky {

    width: 100;
    display: flex;


}

.nhanvien .nhanvien__dangky .nhanvienDV1 {
    /* padding: 20px; */
    /* Chia lưới */
    display: grid;
    /* Chia cột, ở đây chia 2 cột tỉ lệ 1:1 bằng nhau */
    grid-template-columns: 1fr 1fr;
    /* Khoảng cách giữa các cột  */
    gap: 15px;

    /* Tham khảo https://www.w3schools.com/css/css_grid.asp */

}

.nhanvien .nhanvien__dangky .nhanvienDV2,
.ketoan {
    padding: 20px 0 5px;
}

.nhanvien .nhanvien__dangky .nhanvienDV1 .ketoan .img .ten_nv .ten_nv-nv {
    font-weight: bold;
}

.nhanvien .nhanvien__dangky .nhanvienDV1 .ketoan .img .ten_nv {
    margin-left: 12px;
}

.nhanvien .nhanvien__dangky .nhanvienDV1 .ketoan .img {
    display: flex;
    margin-bottom: 12px;
}

.nhanvien .nhanvien__dangky .nhanvienDV2 .ketoan .img {
    display: flex;
}

/* .nhanvien .container{
        border: 2px solid #333;
    } */



.sign .sign-up {
    padding: 40px;
    height: 460px;
    width: 100%;
    text-align: center;
}

.sign .sign-up h4 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
    color: var(--hong-tone);
}

.sign .sign-box {
    border: 1px solid var(--xam-nhat);
    border-radius: 10px;

}

.sign .sign-up .form-item {
    border-radius: 5px;
    padding-left: auto;
    width: 100%;
    border: none;
    min-height: 50px;
    margin: 5px 0;
}

.sign .sign-up .form-item .form-input {
    height: auto;
    width: 100%;
    min-height: 40px;
    border: none;
    border: 1px solid var(--bo-vien);
}

.sign .sign-up .form-item .form-input-ghichu {
    height: auto;
    width: 100%;
    min-height: 80px;
    border: 1px solid var(--bo-vien);
}

.sign .sign-up .form-item .form-input-button {
    padding: 0 20px;
    background-color: yellowgreen;
    margin: 20px;
    border-radius: 5px;
    color: #fff;
    border: none;
}

.sign .sign-box .dv {
    display: flex;
    align-items: center;



}

.sign .sign-box .lich-dv {

    margin-right: 7px;
}

.sign .sign-box .lich-lh {

    margin-left: 7px;
}

.sanpham {
    text-align: center;
    color: #000000;
    margin: 50px 0px;
}

.sanpham .sanpham-head .img {
    margin: 30px 0;
}

.sanpham .sanpham-head .sp-head-tieude {
    color: var(--hong-tone);
    font-weight: 600;
    font-size: 30px;
}

.sanpham .sp-head-list {
    display: flex;
    justify-content: center;
    align-items: center;

}

.sanpham .sp-head-list .sanpham-list {
    margin: 20px;
    padding: 3px 10px;
    border: 2px solid var(--hong-tone);
    border-radius: 7px;
    font-weight: 500;

}

/*  chị đã bảo là dùng slick thì bỏ grid */
/* .sanpham .sp-head-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 30px 0;
    gap: 20px;
} */
.sanpham .sanpham-ds .sp-list-item {
    margin: 0 7px;
    border: 1px solid var(--bo-vien);
    border-radius: 10px;


}

.sanpham .sanpham-list {
    border: 1px solid var(--xam-nhat);
    border-radius: 8px;
}

.sanpham .sp-list-item-img .giamgia {
    justify-content: space-between;
    display: flex;
    margin: 5px;

}

.sanpham .sp-list-item-img .giamgia p {
    /* border: 1px solid #333; */
    padding: 0 5px;
    border-radius: 8px;
    background-color: red;
    color: #fff;
    margin: 0;
}

.sanpham .sp-list-item-img img {
    width: 100%;
}

.sanpham .sp-list-item-about .sp-item-head {
    font-weight: 600;
    margin: 10px;

}

.sanpham .sp-list-item-about .sp-item-giatien {
    color: red;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    margin: 0 25px;

}

.sanpham .sp-list-item-about .sp-item-giatien p1 {
    color: var(--xam-chunho);
    text-decoration: line-through;

}

.sanpham .sp-list-item-about .sp-item-like {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.sanpham .sp-list-item-about .sp-item-like .star {

    background: url(./Star\ 1.png) center;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    padding: 0 10px;





}

.sanpham .sp-list-item-about .sp-item-muaxem {
    display: flex;
    justify-content: center;
    align-items: center;

}

.sanpham .sp-list-item-about .sp-item-muaxem-num {
    margin: 0 5px;
    font-weight: 600;
}

.sanpham .sp-list-item-about .sp-item-muaxem .cart p::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-image: url(./shopping_cart.svg);

}

.sanpham .sp-list-item-about .sp-item-muaxem .eye p::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-image: url(./eye.svg);
}

.sanpham .sp-list-item-about .sp-item-button .sp-item-button-bd {
    padding: 5 25;
    background-color: rgb(255, 0, 0);
    margin: 10px 10px 15px;
    border-radius: 5px;
    color: #fff;
    border: none;
}

header .nav-mobile {
    display: none;
}


.camnhankh .nguoifull {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.camnhankh .nguoifull .nguoi {
    text-align: center;
    font-weight: 500;

}

.camnhankh .nguoifull .nguoi-ten {
    margin: 10px auto;
    font-size: 20px;

}

.camnhankh .nguoifull .item-kh {

    font-weight: 420;
}




.camnhankh .camnhan h3 {
    text-align: left;
    background-color: var(--hong-nhat);
    width: 300px;
    font-size: 20px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: left;
    padding-left: 10px;
}

.camnhankh {
    margin: 50px 0px;
    font-size: 14px;

}

.camnhankh .cauhoi h3 {
    text-align: left;
    background-color: var(--hong-nhat);
    width: 300px;
    font-size: 20px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: left;
    padding-left: 10px;
}



.camnhankh .cauhoi-tieude {
    display: flex;
    margin: 0;
    position: relative;
    margin-bottom: 20px;


}

.camnhankh .cauhoi-tieude::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--bo-vien);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.camnhankh .camnhan-tieude::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--bo-vien);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.camnhankh h3 {
    margin: 0;
}

.camnhankh .cauhoi-tieude i {
    background-image: url(./image/dichvuimg/Vector\ 1.png);
    width: 50px;
    height: 20px;
    background-repeat: no-repeat;


}

.camnhankh .caccauhoi-111 i {
    margin-right: 10px;

}

.camnhankh .caccauhoi p {
    margin: 8px 0;

}


.camnhankh .camnhan .camnhan-tieude {
    display: flex;
}

.camnhankh .camnhan .camnhan-tieude i {
    background-image: url(./image/dichvuimg/Vector\ 1.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;


}

.camnhankh .cauhoi .caccauhoi {
    text-align: left;

}

.camnhankh .cauhoi .caccauhoi .caccauhoi-111 {
    text-decoration: none;
    color: #000000;
}

.album {
    text-align: center;
    color: var(--mau-den);
}


.album .album-tieude-h {
    color: var(--hong-tone);
    font-size: 30px;
    font-weight: 700;
    margin: 25px 0px;
}

.album .album-tieude-img {
    margin: 30px 0;
}

.album .album-tieude-con {
    display: flex;
    align-items: center;
    justify-content: center;
}

.album .album-tieude-con .album-tieude-con-kh {
    margin: 20px 20px;
    border: 1px solid var(--hong-tone);
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 700;

}


/* .album .grids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
    padding: 20px 0px;
} */

/* class img rồi vào trong img */
.album .img img {
    width: 100%;
}

.album .img {
    margin: 0 15px;
}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
.blog .container {
    background-color: var(--hong-nhat);
    border-radius: 10px;
    padding: 3px 0 30px;
    margin: 50px auto;
}

.blog .blog-head {
    text-align: center;
    margin: 50px;
}

.blog .blog-head .blog-head-h {
    color: var(--hong-tone);
    font-size: 30px;
    font-weight: 700;
    margin: 20px;
}

.blog .blog-head-img {
    margin: 30px 0;
}

/* .blog .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 0 30px;

} */
.blog .blog-list-img-tintuc {
    margin: 0 15px;
}

.blog .blog-list-img-tintuc_nd_td_td {
    font-weight: 700;
    font-size: 20px;
    margin: 10px 0px 0px;

}

.blog .blog-list-img-tintuc_nd_td_time {
    background-color: #fff;
    width: 120px;
    border-radius: 50px;
    padding: 2px 7px;
    color: var(--xam-chunho);


}

.blog .blog-list-img-tintuc_img img {
    width: 100%;
}

footer {
    background-color: #F0F0F0;

}



.footer .footer-nd {
    font-weight: 700;
    margin: 50px 0px;
}

.footer .item-td {
    margin: 40px 0px;
    color: var(--hong-tone);
    font-size: 20px;
}

.footer .item-nd p {
    margin: 10px 0px;


}

.footer iframe {
    width: 100%;
}

footer .footer-bottom {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    background-color: var(--hong-nhat);
    padding: 7px 0;

}

footer .chinhsach .item-nd p::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: #000000;
    margin: 0 10px 5px 0
}

footer .chinhsach .item-nd {
    display: flex;
    flex-direction: column;

}

footer .mevabe .item-nd .bi {
    margin-right: 3px;
}

.mainSlider .slick-slider {
    left: 10;
    right: 0;
    top: 0;
    bottom: 0;
}

.DichVu #slickDichVu .itemcon {
    margin: 0 15px;
}

.sanpham .sanpham-ds {
    margin: 0 15px;
}

.rollbar {
    position: fixed;
    right: 10px;
    bottom: 30px;
    z-index: 20;
}

.rollbar ul {
    width: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.rollbar li {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 30px;



}

.rollbar i {
    font-size: 30px;
}

.rollbar li h6 {
    position: absolute;
    top: 0;
    right: 0px;
    opacity: 0;
    transition-delay: 0.4s;
    background-color: var(--xam-nhat);
    padding: 4px 8px;
    border-radius: 17px;
}

.rollbar a {

    line-height: normal;

}

.rollbar .fa-youtube {
    color: #CD1877;
}

.rollbar li h6:hover {
    transition: ease-in;
    opacity: 1;
    display: block;
    position: absolute;
    right: 40px;
    cursor: default;
}

.rollbar li a:hover {
    cursor: default;
}